body {
    text-align: center;
}

#clock3 {
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}
    
img {
    padding-top: 6px;
}

#onlyTime {
    /*display: block;*/
    position: absolute;
    /*background-color: coral;*/
    top: 0;
    animation: mymove 10s infinite;
  }
  
@keyframes mymove {
    50% {top: 220px;}
  }

.display1, .display2 {
    text-align: center;
    margin: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow;
}


/* Képernyő méretektől függő megjelenés
  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background: red;
    }
    #wallpaper {
        display: block;
    }
    img {
        padding-top: 50px;
    }
    #clock3 {
        font-size: 120px;
    }
    h1 {
        font-size: 100px;
    }
    p {
        font-size: 60px;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up)*/ 
@media only screen and (min-width: 600px) {
    body {
        background: green;
    }
    #wallpaper {
        display: none;
    }
    #clock3 {
        font-size: 160px;
    }
    h1 {
        font-size: 140px;
    }
    p {
        font-size: 60px;
    }
}
  
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background: blue;
    }
    #clock3 {
        font-size: 200px;
    }
    h1 {
        font-size: 160px;
    }
    p {
        font-size: 60px;
    }
} 
  
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background: orange;
    }
    #clock3 {
        font-size: 260px;
    }
    h1 {
        font-size: 180px;
    }
    p {
        font-size: 80px;
    }
} 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background: black;
    }
    #clock3 {
        font-size: 340px;
    }
    h1 {
        font-size: 220px;
    }
    p {
        font-size: 100px;
    }
    #desc1, #desc2 {
        font-size: 80px;
    }
}

  